<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ovenWin.Properties.Settings.Oven" connectionString="User Id=spare_part;Password=spare!!part;Data Source=AUTO" />
        <add name="ovenWin.Properties.Settings.MAIL" connectionString="Data Source=MAIL;Persist Security Info=True;User ID=autotrs;Password=autotrs" />
        <add name="ovenWin.Properties.Settings.Oven_Trial" connectionString="User Id=oven_sys;Password=oven!!;Data Source=AUTO" />
    </connectionStrings>
</configuration>